/* for Mautic paragraph */

.p-field-layouts-mautic .form-radios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: -10px -10px 0 -10px;
}


.p-field-layouts-mautic .js-form-type-radio,
tr .p-field-layouts .js-form-type-radio {
  margin: 10px 10px 0 10px;
}
.p-field-layouts-mautic .js-form-type-radio label {
  cursor: pointer !important;
  font-size: 0.00001px;
  position: relative !important;
  display: inline-block !important;
  margin: 0 !important;
  width: 80px;
  padding: 0 !important;
  white-space: nowrap;
  border: #999999 1px solid;
  background-size: contain;
  background-repeat: no-repeat;
}

.p-field-layouts-mautic .js-form-type-radio input {
  visibility: hidden;
  position: absolute;
}
.p-field-layouts-mautic .js-form-type-radio input:checked + label {
  border: #000000 2px solid;
}

.p-field-layouts-mautic .js-form-type-radio label.layout-form-left {
  height: 31px !important;
  background-image: url('../img/layout-image-left.png');
}
.p-field-layouts-mautic .js-form-type-radio label.layout-form-right {
  height: 31px !important;
  background-image: url('../img/layout-image-right.png');
}

